<div class="bg-secondary p-5">
  <h1>Hello, {{ this.authService.userLoggedIn?.username }}</h1>
  <p class="lead">Get started by adding a new vocab</p>
  <app-new-vocab-modal [allVocabs]="vocabs"></app-new-vocab-modal>
</div>
<main class="container" >
  <div id="vocabs-list">
    <h3>Vocab List :</h3>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Word</th>
        <th scope="col">Translation</th>
        <th scope="col">Part of speech</th>
        <th scope="col">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let vocab of vocabs; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{ vocab.word }}
        </td>
        <td>{{ vocab.translation}}</td>
        <td>{{ vocab.partOfSpeech}}</td>
        <td><app-edit-vocab-modal [currVocab]="vocab"></app-edit-vocab-modal>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</main>

